html .main .wa-container .wa-backdrower .content .content__main .content__title .content__title--name,
body .main .wa-container .wa-backdrower .content .content__main .content__title .content__title--name, html .main .wa-container .wa-sections .wa-sections__wa-top .left_info .left_info__timeline li .left_info__timeline__time,
body .main .wa-container .wa-sections .wa-sections__wa-top .left_info .left_info__timeline li .left_info__timeline__time, html .main .wa-container .wa-sections .wa-sections__wa-bottom .today .today__item .content .content__title .content__title--name,
body .main .wa-container .wa-sections .wa-sections__wa-bottom .today .today__item .content .content__title .content__title--name, html .main .wa-container .wa-sections .wa-sections__wa-bottom .daily .daily_item .daily_item__title span,
body .main .wa-container .wa-sections .wa-sections__wa-bottom .daily .daily_item .daily_item__title span {
  background-color: #34495e;
  border-radius: 10px;
  padding: 2px 10px; }

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px; }
  html .main,
  body .main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    html .main .main__bg-image,
    body .main .main__bg-image {
      width: 100%;
      object-fit: cover;
      height: 100%;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0; }
    html .main .wa-container,
    body .main .wa-container {
      width: 80%;
      height: 600px;
      background-color: gray;
      position: relative;
      display: flex;
      overflow: hidden; }
      html .main .wa-container .wa-backdrower,
      body .main .wa-container .wa-backdrower {
        position: absolute;
        width: 300px;
        height: 100%;
        right: -300px;
        top: 0;
        background: #00b4db;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0083b0, #00b4db);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        z-index: 888; }
        html .main .wa-container .wa-backdrower #close-backdrower,
        body .main .wa-container .wa-backdrower #close-backdrower {
          font-size: 4rem;
          position: absolute;
          top: -30px;
          left: 10px;
          cursor: pointer;
          height: 0; }
        html .main .wa-container .wa-backdrower .content,
        body .main .wa-container .wa-backdrower .content {
          padding: 30px;
          height: 100%; }
          html .main .wa-container .wa-backdrower .content .content__main,
          body .main .wa-container .wa-backdrower .content .content__main {
            text-align: center; }
            html .main .wa-container .wa-backdrower .content .content__main .content__title,
            body .main .wa-container .wa-backdrower .content .content__main .content__title {
              margin-bottom: 3vh; }
              html .main .wa-container .wa-backdrower .content .content__main .content__title .content__title--name,
              body .main .wa-container .wa-backdrower .content .content__main .content__title .content__title--name {
                font-size: 1rem; }
            html .main .wa-container .wa-backdrower .content .content__main .content__icon i,
            body .main .wa-container .wa-backdrower .content .content__main .content__icon i {
              font-size: 4rem; }
            html .main .wa-container .wa-backdrower .content .content__main .content__value .content__value--temp,
            body .main .wa-container .wa-backdrower .content .content__main .content__value .content__value--temp {
              font-size: 3rem; }
            html .main .wa-container .wa-backdrower .content .content__main .content__values,
            body .main .wa-container .wa-backdrower .content .content__main .content__values {
              display: flex;
              justify-content: space-between;
              font-size: 1.3rem; }
          html .main .wa-container .wa-backdrower .content .content__list,
          body .main .wa-container .wa-backdrower .content .content__list {
            padding-left: 0;
            list-style: none;
            margin-top: 30px; }
            html .main .wa-container .wa-backdrower .content .content__list li,
            body .main .wa-container .wa-backdrower .content .content__list li {
              position: relative;
              padding: 20px 0px;
              font-weight: bold;
              font-size: 1.4rem; }
              html .main .wa-container .wa-backdrower .content .content__list li label,
              body .main .wa-container .wa-backdrower .content .content__list li label {
                position: absolute;
                top: -10px;
                left: 0px;
                text-transform: uppercase;
                font-size: 0.9rem;
                font-weight: normal; }
      html .main .wa-container .wa-container__bg-image,
      body .main .wa-container .wa-container__bg-image {
        width: 100%;
        object-fit: cover;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1; }
      html .main .wa-container .wa-sections,
      body .main .wa-container .wa-sections {
        width: 100%;
        height: 100%;
        z-index: 2; }
        html .main .wa-container .wa-sections .wa-sections__wa-top,
        body .main .wa-container .wa-sections .wa-sections__wa-top {
          height: 400px;
          width: 100%;
          position: relative; }
          html .main .wa-container .wa-sections .wa-sections__wa-top .left_info,
          body .main .wa-container .wa-sections .wa-sections__wa-top .left_info {
            padding: 20px 50px; }
            html .main .wa-container .wa-sections .wa-sections__wa-top .left_info .left_info__current-time,
            body .main .wa-container .wa-sections .wa-sections__wa-top .left_info .left_info__current-time {
              width: 100%;
              font-size: 4.5rem;
              margin: 0; }
            html .main .wa-container .wa-sections .wa-sections__wa-top .left_info .left_info__current-date,
            body .main .wa-container .wa-sections .wa-sections__wa-top .left_info .left_info__current-date {
              font-size: 1.2rem; }
            html .main .wa-container .wa-sections .wa-sections__wa-top .left_info .left_info__timeline,
            body .main .wa-container .wa-sections .wa-sections__wa-top .left_info .left_info__timeline {
              list-style: none;
              padding-left: 0; }
              html .main .wa-container .wa-sections .wa-sections__wa-top .left_info .left_info__timeline li,
              body .main .wa-container .wa-sections .wa-sections__wa-top .left_info .left_info__timeline li {
                margin: 15px 0px;
                display: flex; }
                html .main .wa-container .wa-sections .wa-sections__wa-top .left_info .left_info__timeline li .left_info__timeline__time,
                body .main .wa-container .wa-sections .wa-sections__wa-top .left_info .left_info__timeline li .left_info__timeline__time {
                  width: 50px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-right: 20px; }
          html .main .wa-container .wa-sections .wa-sections__wa-top .right_info,
          body .main .wa-container .wa-sections .wa-sections__wa-top .right_info {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            margin-right: 60px;
            margin-top: 7vh; }
          html .main .wa-container .wa-sections .wa-sections__wa-top .search,
          body .main .wa-container .wa-sections .wa-sections__wa-top .search {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 10px; }
            html .main .wa-container .wa-sections .wa-sections__wa-top .search #search,
            body .main .wa-container .wa-sections .wa-sections__wa-top .search #search {
              background-color: transparent;
              border: 0;
              border-bottom: 3px solid #fff;
              color: #fff;
              padding: 2px 3px;
              font-size: 1.3rem;
              outline: none;
              text-align: center;
              max-width: 150px; }
              html .main .wa-container .wa-sections .wa-sections__wa-top .search #search:placeholder,
              body .main .wa-container .wa-sections .wa-sections__wa-top .search #search:placeholder {
                color: rgba(255, 255, 255, 0.5); }
        html .main .wa-container .wa-sections .wa-sections__wa-bottom,
        body .main .wa-container .wa-sections .wa-sections__wa-bottom {
          background-color: rgba(52, 73, 94, 0.5);
          height: 200px;
          width: 100%;
          display: flex; }
          html .main .wa-container .wa-sections .wa-sections__wa-bottom .today,
          body .main .wa-container .wa-sections .wa-sections__wa-bottom .today {
            width: 200px;
            height: 100%; }
            html .main .wa-container .wa-sections .wa-sections__wa-bottom .today .today__item,
            body .main .wa-container .wa-sections .wa-sections__wa-bottom .today .today__item {
              display: flex;
              justify-content: space-evenly;
              align-items: center;
              height: 100%;
              cursor: pointer;
              transition: .2s ease; }
              html .main .wa-container .wa-sections .wa-sections__wa-bottom .today .today__item:hover,
              body .main .wa-container .wa-sections .wa-sections__wa-bottom .today .today__item:hover {
                background-color: #34495e; }
              html .main .wa-container .wa-sections .wa-sections__wa-bottom .today .today__item .today__item__icon i,
              body .main .wa-container .wa-sections .wa-sections__wa-bottom .today .today__item .today__item__icon i {
                font-size: 4rem; }
              html .main .wa-container .wa-sections .wa-sections__wa-bottom .today .today__item .content,
              body .main .wa-container .wa-sections .wa-sections__wa-bottom .today .today__item .content {
                text-align: center; }
                html .main .wa-container .wa-sections .wa-sections__wa-bottom .today .today__item .content .content__value,
                body .main .wa-container .wa-sections .wa-sections__wa-bottom .today .today__item .content .content__value {
                  font-size: 3rem; }
          html .main .wa-container .wa-sections .wa-sections__wa-bottom .daily,
          body .main .wa-container .wa-sections .wa-sections__wa-bottom .daily {
            display: flex;
            width: 100%; }
            html .main .wa-container .wa-sections .wa-sections__wa-bottom .daily .daily_item,
            body .main .wa-container .wa-sections .wa-sections__wa-bottom .daily .daily_item {
              width: 20%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;
              transition: 0.2 ease;
              cursor: pointer; }
              html .main .wa-container .wa-sections .wa-sections__wa-bottom .daily .daily_item:hover,
              body .main .wa-container .wa-sections .wa-sections__wa-bottom .daily .daily_item:hover {
                background-color: #34495e; }
              html .main .wa-container .wa-sections .wa-sections__wa-bottom .daily .daily_item .daily_item__title,
              body .main .wa-container .wa-sections .wa-sections__wa-bottom .daily .daily_item .daily_item__title {
                width: 100%;
                text-align: center; }
              html .main .wa-container .wa-sections .wa-sections__wa-bottom .daily .daily_item .daily_item__icon i,
              body .main .wa-container .wa-sections .wa-sections__wa-bottom .daily .daily_item .daily_item__icon i {
                font-size: 4rem; }
              html .main .wa-container .wa-sections .wa-sections__wa-bottom .daily .daily_item .daily_item__value,
              body .main .wa-container .wa-sections .wa-sections__wa-bottom .daily .daily_item .daily_item__value {
                text-align: center;
                width: 100%; }

/*# sourceMappingURL=style.css.map */
